* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Helvetica';
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.685);
    background-color: #141414;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

:root{
    --component_background:  rgb(31, 31, 31);
    --component_border: 1px solid rgba(255, 255, 255, 0.245);

    --input_background:  rgba(0, 0, 0, 0.356);
    --input_border:1px solid rgba(255, 255, 255, 0.128);
    --input_border-rad: 5px; 
    --input_padding_left: 10px;

    --btn_background: rgba(42, 42, 42, 0.516);
    --btn_border: 1px solid rgba(255, 255, 255, 0.245);
    --btn_color: white;
}

input {
    color: white;
}
